.App {
  background-color: #282c34;
  color: whitesmoke;
  min-height: 100vh;
  padding: 0 10%;
}

.App-header {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#profile, #button-container > button {
  cursor: pointer;
}

#profile {
  display: flex;
  align-items: center;
}

#profile > p {
  color: goldenrod;
  font-weight: bold;
  font-size: 3vmin;
}

#profile > img {
  height: 5vmin;
}

#main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#main > h1, h2 {
  margin: 0;
}

#main > h1 {
  font-size: 10vmin;
}

#main > h2 {
  font-size: 4vmin;
}

#button-container {
  width: 45vmin;
  display: flex;
  justify-content: space-between;
}

.primary-button {
  max-width: 20vmin;
  width: 20vmin;
  height: 8vmin;
  font-size: 3vmin;
  border-radius: 5px;
  background: whitesmoke;
  color: black;
  border: 3px solid darkcyan;
}

.primary-button:hover {
  font-weight: bold;
  background: black;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}